@import "tailwindcss";

:root {
  --bg: #0b0d10;
  --card: #12141a;
  --text: #e5e7eb;
  --muted: #9ca3af;
  --accent: #38bdf8; /* sky-400 */
}
html {
  scroll-behavior: smooth;
}
.light {
  --bg: #ffffff;
  --card: #f3f4f6;
  --text: #111827;
  --muted: #6b7280;
  --accent: #38bdf8; /* sky-400 */
}

body {
  background: var(--bg);
  color: var(--text);
}
